body {
    background-color: rgb(45, 45, 45);
    margin: auto;
    border: auto;
    padding: auto;
    
}

#title {
    color: yellow;
    text-align: center;
    font-size: larger;
    background-color: black;
    font-size: 35px;
    height: 70pt;
    font-weight: bold;
    border-radius: 10pt;
    border-style: none;
}

#topnav {
    background-color :rgb(255, 230, 0);
    height: 30px;
    overflow: hidden; 
    border-radius: 20pt;
    text-decoration: underline;
}
    
#topnav a {
    float: left;
    font-weight: bolder;
    color: black;
    text-align: center;
    padding: 2px 2px;
    text-decoration: none;
    font-size: 17px;
    text-align: center;
    margin-top: 0pt;
}
    
#topnav a:hover {
    background-color: rgb(255, 255, 255);
    color: black;
}

#footer {
    text-align: center;
    color: aliceblue;
    background-color: rgb(35, 35, 0);
}